div.PHPUnit, div.PHPUnit *, .PHPUnitResults, .PHPUnitResults * {
	background: #FFFFFF;
	border: none;
	bottom: auto;
	clear: none;
	color: #000000;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	direction: ltr;
	display: block;
	float: none;
	font:"Lucida Console",Monospace;
	font-family:"Lucida Console",Monospace;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	left: auto;
	letter-spacing: normal;
	line-height: normal;
	margin: 0px;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	filter:Alpha(opacity=100);
	outline: invert none medium;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0px;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	position: static;
	right: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-justify: auto;
	text-outline: none;
	text-overflow: clip;
	text-shadow: none;
	text-transform: none;
	text-wrap: normal;
	top: auto;
	transform: none;
	transition: all 0 ease 0;
	vertical-align: baseline;
	visibility: visible;
	width: auto;
	white-space: normal;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	z-index: auto;
}
.PHPUnit h1 { font-size: 200%; }
.PHPUnit ol, .PHPUnit ul { padding-left: 3em; }
.PHPUnit ol { list-style: Decimal outside none; margin-bottom: 1em; }
.PHPUnit ul { list-style: square outside none; }
.PHPUnit li { display: list-item; }
.PHPUnit span, PHPUnitResults span { display: inline-block; }
* html .PHPUnit span,* html .PHPUnitResults span, * PHPUnitResults span  { display: inline; }
* + html .PHPUnit span,* + html .PHPUnitResults span { display: inline; }
.PHPUnit ol * { margin-bottom: 0; }
.PHPUnit ul li { border-left: 3px solid #FF0000; }
.PHPUnit ul li label { color: #000000; }
.PHPUnit .file,.PHPUnit .row { display: inline-block; padding: 0px 1em; text-align: center; }
* html .PHPUnit .file,* html .PHPUnit .row { display: inline; }
* + html .PHPUnit .file,* + html .PHPUnit .row { display: inline; }
.PHPUnit .file { background-color: #f0f0f0; border-right: 1px solid #a0a0a0; color: #000000; }
.PHPUnit .row { background-color: #e4e4e4; border-left: 1px solid #696969;	color: #808080; margin-right: .5em; }
.PHPUnit .function { display: inline; color: #0000ff; }
.PHPUnit .argument { display: inline; color: #8000ff; }
.PHPUnit label, .PHPUnitResults label { display: inline-block; color: #808080; }
* html .PHPUnit label, * html .PHPUnitResults label { display:inline; }
* + html .PHPUnit label, * + html .PHPUnitResults label { display:inline; }
.PHPUnit .red, .PHPUnitResults .red{ color: #FF0000; }
.PHPUnit .green, .PHPUnitResults .green{ color: #008000; }